<div class="Msell-BSwiper__Wrap">
  <div class="Msell-BSwiper__Header">
    <div class="Msell-BSwiper__HeaderTitle">
      <h2 class="Msell-BSwiper__Title">{{settings.title}}</h2>
      {{#if settings.subTitle}}
        <p>{{settings.subTitle}}</p>
      {{/if}}
    </div>
    <div class="Msell-BSwiper__Box Msell-BSwiper__Box--Header">
      <div class="Msell-BSwiper__BoxSecond">
        <div class="Msell-BSwiper__Info">
          <div class="Msell-BSwiper__Total">
            {{#if settings.contentTotal}}
              <span class="Msell-Bundle__TotalLabel Msell-BSwiper__TotalLabel">{{{settings.contentTotal}}}</span>
            {{/if}}
            <div class="Msell-BSwiper__SubTotal">
              <span class="Msell-Bundle__Badge Msell-Bundle__Discount">{{{discount}}}</span>
              <div class="Msell-BSwiper__TotalSale">
                <span class="Msell-Bundle__TotalDefault Msell-BSwiper__TotalDefault"></span>
                <span class="Msell-Bundle__TotalRegular Msell-BSwiper__TotalRegular"></span>
              </div>
            </div>
          </div>
          {{#if promotionalContent}}
            <div class="Msell-Bundle__Promotion">{{{promotionalContent}}}</div>
          {{/if}}
        </div>
        {{#if timer.active}}
          <div class="Msell-BSwiper__BoxFirst">
            <msell-countdown-timer></msell-countdown-timer>
          </div>
        {{/if}}
        <button class="{{classAddToCard}} Msell-Button-AddToCart">
          <span>{{settings.contentAddToCartButton}}</span>
          <div class="Msell-Spinner">
            <svg aria-hidden="true" focusable="false" class="Msell-Spinner-Svg" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="Msell-Spinner-Path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="Msell-BSwiper__Content">
    <msell-swiper>
      <div class="Msell-BSwiper__List Msell-Swiper__List">
      </div>
      <div class="Msell-BSwiper__Buttons Msell-Swiper-Buttons">
        <button type="button" class="Msell-BSwiper-Button" name="previous" aria-label="Slide previous">
          <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z">
          </path></svg>
        </button>
        <button type="button" class="Msell-BSwiper-Button" name="next" aria-label="Slide next">
          <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z">
          </path></svg>
        </button>
      </div>
    </msell-swiper>
  </div>
  <div class="Msell-BSwiper__Box Msell-BSwiper__Box--Footer">
    {{#if timer.active}}
      <div class="Msell-BSwiper__BoxFirst">
        <msell-countdown-timer></msell-countdown-timer>
      </div>
    {{/if}}
    <div class="Msell-BSwiper__BoxSecond">
      <div class="Msell-BSwiper__Info">
        <div class="Msell-BSwiper__Total">
          {{#if settings.contentTotal}}
            <span class="Msell-Bundle__TotalLabel Msell-BSwiper__TotalLabel">{{{settings.contentTotal}}}</span>
          {{/if}}
          <div class="Msell-BSwiper__SubTotal">
            <span class="Msell-Bundle__Badge Msell-Bundle__Discount">{{{discount}}}</span>
            <div class="Msell-BSwiper__TotalSale">
              <span class="Msell-Bundle__TotalDefault Msell-BSwiper__TotalDefault"></span>
              <span class="Msell-Bundle__TotalRegular Msell-BSwiper__TotalRegular"></span>
            </div>
          </div>
        </div>
        {{#if promotionalContent}}
          <div class="Msell-Bundle__Promotion">{{{promotionalContent}}}</div>
        {{/if}}
      </div>
      <button class="{{classAddToCard}} Msell-Button-AddToCart">
        <span>{{settings.contentAddToCartButton}}</span>
        <div class="Msell-Spinner">
          <svg aria-hidden="true" focusable="false" class="Msell-Spinner-Svg" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="Msell-Spinner-Path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
      </button>
    </div>
  </div>
</div>