<div id="review-section"
     data-product-id="{{ product.id }}"
     data-product-handle="{{ product.handle }}">
</div>


<link rel="stylesheet" href="{{ 'review-widget.css' | asset_url }}">

<script src="{{ 'jquery-3.6.0.min.js' | asset_url }}" defer></script>
<script src="{{ 'md5.min.js' | asset_url }}" defer></script>
<script src="{{ 'grocom-widget.js' | asset_url }}" defer></script>




{% schema %}
{
  "name": "Widget Review",
  "target": "section",
  "settings": []
}
{% endschema %}
